@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply py-2 px-4 rounded-md;
}

.input {
  @apply appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none;
}

.header-text {
  @apply text-secondary-light font-bold text-xl;
}

.center-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient-images {
  background: linear-gradient(90deg, #ffa270, #c2c2c2);
  opacity: 0.6;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
